* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f1f1f1;
}

.container {
    width: 420px;
    background: white;
    margin: 50px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    height: 3000px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color:   #001133;
    font-size: 24px;
}

.header p {
    color: #444;
    margin-top: 4px;
    font-size: 14px;
}

.form label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
    color: #333;
}

.form input,
.form select,
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.form textarea {
    height: 90px;
    resize: none;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    background:#001133;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #1e3f54;
}
