/* ===== inicio ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #011638;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  top: 0;
  left: 0;
  width: 1px;
  padding: 50px 40px;
  background-color:#ffffff;
  display: flex;
  justify-content: space-between;
  align-items: left;
  a {
    margin-left: 105em;
  }

   
}


.container {
  text-align: center;
  background-color: #ffffff;
  color: #011638;
  padding: 40px;
  width: 350px;
  height: 100%;
  margin-right: 93em;
  img{
    background-color: #ffffff;
  }

}

.container h1 {
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
gap: 100px;

}

.btn {
  background-color: #011638;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;

}

.btn:hover {
  background-color: #00337c;
}

.logo {
  width: 150px;
  height: 150px;
}

.containertextcenter{
    width: 10px;
  height: 10px;
  color: aqua;

}
.gradeconteiner{
   text-align: center;
  background-color: #15ff00;
  color: #011638;
  width: 350px;
  height:120px;
  margin-right: 93em;

}
grade{
  width: 10px;
  height: 10px;
  color: crimson;
}
