* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; background: #eef1f5; }

.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background:  #001133;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar .logo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar h3 {
    font-size: 14px;
    margin-top: 15px;
    opacity: 0.6;
}

.sidebar a {
    display: block;
    color: #d8e2ff;
    text-decoration: none;
    padding: 8px 0;
    margin-left: 10px;
}

.sidebar a.active {
    font-weight: bold;
    color: #fff;
}

/* CONTEÚDO */
.content {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
}

.breadcrumb {
    font-size: 14px;
    color: #555;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 40px;
    border-radius: 50%;
}

/* CARDS */
.cards {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.card span {
    font-size: 14px;
    display: block;
    margin-top: 4px;
}

.yellow { background: #f4c542; }
.green  { background: #57b86f; }
.orange { background: #f0a14f; }
.blue   { background: #5aa2e7; }

/* FILTROS */
.filtros {
    margin: 25px 0;
    display: flex;
    gap: 10px;
}

.filtros select {
    padding: 8px;
    border-radius: 5px;
}

.btn {
    background:  #001133;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table th {
    background: #e8ecf2;
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* STATUS BADGES */
.badge {
    padding: 4px 12px;
    color: white;
    border-radius: 6px;
    font-size: 12px;
}

.aberto { background: #d9534f; }
.andamento { background: #f0ad4e; }
.concluido { background: #5cb85c; }

/* PRIORIDADE */
.prio {
    padding: 4px 10px;
    border-radius: 4px;
}

.alta { background: #ff6b6b; color: white; }
.media { background: #f5c16c; color: white; }
.baixa { background: #8bd36f; color: white; }

.btn-ver {
    padding: 6px 12px;
    background: #23395d;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.logo{
height: 100px;
    width: 100px;
}
