/* ===== Estilos Gerais ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 
}

body {
  background: #ffffff;
  color: #222;
}

/* ===== Cabeçalho ===== */
header {
  background: #ffffff;
  padding: 10px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.8rem;
  color: #111;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  color: #000;
}

.btn{
  background: #002266;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 4px;
  
}

/* ===== Seção Principal ===== */
.hero {
  background: #001133;
  color: #ffffff;
  text-align: center;
  padding: 80px 20px;
  height: 10000px;
}


.hero h1 {
  font-size: 2rem;
}

.hero p {
  margin-top: 10px;
}


/* ===== Rodapé ===== */
footer {
  align-items: center;
  background: #ffffff;
  padding: 30px 40px;
  margin-top: 40px;
}

/* ===== Formulários (Login / Cadastro) ===== */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.form-box {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 380px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #001133;
}

label {
  display: block;
  margin-top: 10px;
  color:#001133;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #001133;;
  border-radius: 5px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #001133;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background:#001133;
}

.alt-text {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
  
}
.logo{
  width: 150px;
  height: 150px;

}
.cadastro {
  background: #fff;
  border: 1px solid #001133;
  border-radius: 8px;
  width: 400px;
  margin: 40px auto;
  padding: 20px;
 
}

.cadastro h2 {
  text-align: center;
  color: #001133;
  margin-bottom: 15px;
}

.cadastro label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.cadastro input,
.cadastro select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #001133;
  border-radius: 4px;
  background: #fff;
}

.cadastro button {
  width: 48%;
  padding: 8px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background: #001133;
  cursor: pointer;
}
.entrarlink{
  color: #ffffff;
}
/* ===== recurso ===== */


.recursos-tabela th,
.recursos-tabela td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;


}

.recursos-tabela th {
  background-color: #001133;
  color: white;

}

.recursos input {
  width: 90%;
  padding: 6px;
  border: 1px solid #001133;
  border-radius: 4px;
}

.recursos button {
  background: #001133;
  color: #fff;
  border: none;
  padding: 12px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
 
}

.recursos button:hover {
  background: #00337c;

}

.recursos-acoes {
height: 70px;
width: 120px;

}